@font-face {
    font-family: 'HelveticaNormal';
    src: url('../fonts/HelveticaNormal.eot');
    src: local('0'), url('../fonts/HelveticaNormal.woff') format('woff'), 
        url('../fonts/HelveticaNormal.ttf') format('truetype'), 
        url('../fonts/HelveticaNormal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: local('0'), url('../fonts/HelveticaBold.woff') format('woff'), 
        url('../fonts/HelveticaBold.ttf') format('truetype'), 
        url('../fonts/HelveticaBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'HelveticaNormal';
}

.container{
    max-width: 1140px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}

.logo{
color: #95989a;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;

}

.socials a{
text-decoration: none;
margin-left: 20px;
}


.top-header{
    padding-top: 70px;
    padding-bottom: 190px;
    background-color:#f4f5f7;

}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text{
    width: 50%;
    color: #32325f;
}

.main-image{
    width: 50%;
}

.main-image img{
    width: 100%;
}

.subtitle{ 
font-size: 20px;
font-weight: 400;
margin-bottom: 15px;
display: block;
}

.title{
font-size: 48px;
font-weight: 700;
margin-bottom: 27px;
display: block;
font-family: 'HelveticaBold';
}

.desc{
font-size: 20px;
font-weight: 400; 
margin-bottom: 16px; 
display: block; 
line-height: 26px;
color: #32325f;
}

.price-tag{
font-size: 20px;
font-weight: 400; 
margin-bottom: 16px; 
display: block; 
}

.price{
font-size: 48px;
font-weight: 400;  

}

.buttons{
margin-top: 50px;

}

.btn{
    text-decoration: none;
    color:#fff;
    font-size: 20px; 
    font-weight: 700;
    padding: 20px 34px;
    box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
    border-radius: 6px;
    margin-right: 30px;
    font-family: 'HelveticaBold';
}

.green{
    background-color: #2dce89 ;
}
.blue{
    background-color: #5e72e4;
}

.about{
    padding: 100px 0px;
}

.about-subheadline{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: #525f7f;
}

.about-headline{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 100px;
    color: #525f7f;
    font-family: 'HelveticaBold';
}

.about-item span{
    display: block;
    color: #525f7f;
    font-size: 16px;
    font-weight: 400;
    margin-right: 36px;
    line-height: 1.2;
}
.about-wrap{
    display: flex;
}

.about-item{
    width: 25%
}

.about-item img{
    margin-bottom: 40px;
}

.people{
    background-color:#f4f5f7;
    padding-top: 90px;
    padding-bottom: 110px;
}

.people-subheadline{
    font-size: 20px;
    font-weight: 400;
    color: #32325f;
    margin-bottom: 20px;
    display: block;
}

.people-headline{
    font-size: 48px;
    font-weight: 700;
    color: #32325f;
    margin-bottom: 65px;
    font-family: 'HelveticaBold';
}

.people-wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
}

.people-block{
      width: 32%;
      margin-bottom: 30px;
}

.people-block img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.footer{
    background-color: #32325f;
    padding-top: 80px;
    padding-bottom: 100px;
}

.footer-wrap{
    justify-content: space-between;
    display: flex;
}

.footer-block{
    width: 33%;
}

.footer-headline{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 35px;
    font-family: 'HelveticaBold';
}


.footer-link{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-family: 'HelveticaBold';
    
}

p{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
    font-family: 'HelveticaBold';
}

@media (max-width: 1048px){
  c
    
    .btn{
        display: inline-block;
        max-width: 250px; 
        text-align: center;  
        width: 100%;
        margin-top: 10px;
    }

}

@media (max-width: 768px){
   .main-image, .main-text{
    width: 100%;
   }

   .main-text{
        order: 1;
        margin-top: 40px;
   }
   .main{
    flex-direction: column;
   }

   .navbar{
    margin-bottom: 100px;
   }

   .top-header{
    padding-bottom: 100px;
   }
   
   .price{
    margin-bottom: 30px;
   }

   .about-item{
    width: 50%;
    margin-bottom: 50px;
   }
   .about-wrap{
    flex-wrap: wrap;
   }

   .about{
    padding: 80px 0px 40px;
   }

   .people-block{   
        width: 48%;
   }

   .footer-wrap{    
    flex-wrap: wrap;
   }
   .footer-block{
    width: 50%;
    margin-bottom: 70px;
   }
    
}

@media (max-width: 580px){

    .about-item{
        width: 100%;
    }
    .about-headline{
        margin-bottom: 50px;
    }
    .people-headline{
        margin-bottom: 30px;
    }
    .footer-block{
        width: 100%;
        
}
}
